@import "./realTimeProducts/realTimeProducts";
@import "./realTimeProducts/formulario";
@import "./products/products";
@import "./login/login";
@import "./register/register";
@import "./register/fail";
@import "./contraseña/cambiar";
@import "./products/seccion";
@import "./Perfil/Perfil";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "./Chat/chat";
@import "./Carrito/Cart";

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}