<div class="page-chat">
    <h1>CoderChat</h1>
    <div class="box">

        <div class="entrada">
            <h2>Ingrese el mensaje</h2>
            <input type="text" id="inputData" />

        </div>
        <div class="salida">

            <p id="outputData"></p>


        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>