<h1>Error al registrarse</h1>
<div class="fail-contenedor">
<div class="caja-mensaje">
    <h2>Vuelve a intentarlo!</h2>
    <img src="/img/error.webp" alt="">
</div>
<button><a href="/login">Volver a loguearse</a></button>
</div>