<h2>Register</h2>

<form action="/api/session/register" method="post">
  <label>Name: </label><input type="text" name="first_name" />
  <br />
  <br />
  <label>LastName: </label><input type="text" name="last_name" />
  <br />
  <br />
  <label>Email: </label><input type="email" name="email" />
  <br />
  <br />
  <label>Password: </label><input type="password" name="password" />
  <br />
  <br />
  <label>Age: </label><input type="number" name="age" />
  <br />
  <br />
  <button type="submit">SignUp</button>
</form>