<div class="contenedor-cambiarContra">

<div class="caja-contrase単a">
    <h2>Ingrese su contrase単a nueva</h2>
<form action="/api/session/restore-password" method="post" >
    <label >Email</label><input type="email" name="email"><br> <br>
     <label >Contrase単a</label><input type="password" name="password"><br> <br>
     <div class="boton-sector">

     <button type="submit">Restaurar contrase単a</button>
     </div>


</form>

</div>
</div>
